body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(50, 50, 50);
    color: white;
}

#header {
    float: center;
    text-align: center;
    font-size: 10mm;
    margin: 20px;
}

#sub-header {
    text-align: center;
    margin: 20px;
}

#description {
    text-align: center;
    margin: 20px;
}

#edges-form {
    place-self: center;
    text-align: center;
    margin: 20px
}

#equation {
    font-size: 100px;
    text-align: center;
    place-self: center;
}

#generate-button {
    all: unset;
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(54, 134, 67);
    border: 2px solid whitesmoke;
}

#generate-button:active {
    background-color: rgb(39, 97, 49);
    box-shadow: inset 0 0 15px 3px rgb(27, 27, 27);
    color:rgb(187, 187, 187);
}

input {
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
    background-color: lightcoral;
}